<li class="comment{{#if isUnread}} unread{{/if}}{{#if isLong}} collapsed{{/if}}" data-id="{{id}}">
	<div class="authorRow">
		{{#if avatarEnabled}}
			<div class="avatar" {{#if actorId}}data-username="{{actorId}}"{{/if}}> </div>
		{{/if}}
		<div class="author">{{actorDisplayName}}</div>
		{{#if isUserAuthor}}
			<a href="#" class="action edit icon icon-rename has-tooltip" title="{{editTooltip}}"></a>
		{{/if}}
		<div class="date has-tooltip live-relative-timestamp" data-timestamp="{{timestamp}}" title="{{altDate}}">{{date}}</div>
	</div>
	<div class="message">{{{formattedMessage}}}</div>
	{{#if isLong}}
		<div class="message-overlay"></div>
	{{/if}}
</li>
